.bookingform {
  background: white;
  padding: 10px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.bookingform .formgroup {
  position: relative;
  margin-bottom: 15px;
}

.bookingform .formcontrol {
  background-color: rgb(213 205 205);
  height: 30px;
  width: 275px;
  color: #616264;
  border: #191a1e;
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.formcontroltipo {
  background-color: rgb(213 205 205);
  height: 30px;
  width: 120px;
  color: #616264;
  border: none;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.formcontroldata {
  background-color: rgb(213 205 205);
  height: 30px;
  width: 120px;
  color: #616264;
  border: none;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.formcontroltime {
  background-color: rgb(213 205 205);
  height: 30px;
  width: 80px;
  color: #616264;
  border: none;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.bookingform
  .formcontrol
  .formcontroldata
  .formcontroltime
  ::-webkit-input-placeholder {
  color: #f6f7fa;
}

.bookingform
  .formcontrol
  .formcontroldata
  .formcontroltime:-ms-input-placeholder {
  color: #f6f7fa;
}

.bookingform .formcontrol .formcontroldata .formcontroltime::placeholder {
  color: #f6f7fa;
}

.bookingform
  input[type="date"].formcontrol
  .formcontroldata
  .formcontroltime:invalid {
  color: rgba(242, 242, 248, 0.4);
}

.bookingform select.formcontrol {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bookingform select.formcontrol + .selectarrow {
  position: absolute;
  right: 10px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(65, 60, 60, 0.98);
  font-size: 14px;
}

.bookingform select.formcontrol + .selectarrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.bookingform .formlabel {
  display: block;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
  height: 10px;
  font-size: 12px;
  color: rgb(104, 97, 97);
}

.bookingform .formcheckbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important;
}

.bookingform .formcheckbox label {
  position: relative;
  padding-top: 8px;
  padding-left: 20px;
  font-weight: 400;
  color: rgb(73, 66, 66);
}

.bookingform .formcheckbox label + label {
  margin-left: 15px;
}

.bookingform .formcheckbox input + span {
  position: absolute;
  left: -4px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: rgb(213 205 205);
  border-radius: 50%;
}

.bookingform .formcheckbox input + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #f23e3e;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.bookingform .formcheckbox input:not(:checked) + span:after {
  opacity: 0;
}

.bookingform .formcheckbox input:checked + span:after {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.bookingform .formbtn {
  margin-top: 10px;
}

.bookingform .submitbtn {
  color: #fff;
  background-color: #f23e3e;
  font-weight: 400;
  height: 30px;
  font-size: 14px;
  border: none;
  width: 100%;
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.bookingform .submitbtn:hover,
.bookingform .submitbtn:focus {
  opacity: 0.9;
}

.form {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: rgb(87, 82, 82);
}

.divdata {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnheader {
  background: rgb(213 205 205);
  border-radius: 25%;
  border-style: solid;
  border-width: 1px;
  color: #f23e3e;
  font-size: 0.8em;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

.margen {
  margin: 5px;
}

.content {
  background: white;
  color: rgb(28, 27, 27);
}
