#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logoCars {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  -webkit-filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  -webkit-filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader {
  justify-content: center;
  display: flex;
}

.toolbarstyle {
  display: flex;
  justify-content: space-between;
  background: #fafaf9;
  color: #4a4242;
}

.cardcontainerstyle {
  display: flex;
  justify-content: center;
  margin: 0px;
  flex-wrap: wrap;
}

.cardstyle {
  margin: 15px;
}

.bodypanel {
  display: flex;
  flex-direction: column;
}

.bodypanelcontrol {
  display: flex;
  justify-content: center;
}

.cardactions {
  display: flex;
  align-content: center;
}

.container {
  min-width: 275;
  margin: 5px;
}

.modalstyle {
  overflow: "scroll";
}

.leaflet-container {
  width: auto;
  height: 80vh;
  position: relative;
  display: block;
  z-index: 0;
}

.bodycontent {
  margin: 50px 0px;
}
